/.claude
/2023-2024学年第三学期数逻课程设计要求.doc
/digital_logic_design_reference_pcblib - 20240704更新.PcbLib
/digital_logic_design_reference_schlib.SchLib
/tools
/元件封装说明-20240704更新.pptx
/元件清单.docx
/数逻课设教学ppt0715.pptx